:root {
  --mainBG: #354052;
  --secondBG: #222935;
  --highlight: #56dcbc;
  --writing: #ffffff;
  --white: #ffffff;
  --writingInverse: rgb(50, 50, 50);
  --shadow: 0 0 10px rgba(0, 0, 0, 0.172);
}

html[data-theme="dark"] {
  --mainBG: #354052;
  --secondBG: #222935;
  --highlight: #56dcbc;
  --writing: #ffffff;
  --writingInverse: rgb(50, 50, 50);
  --shadow: 0 0 10px rgba(0, 0, 0, 0.172);
}

html[data-theme="light"] {
  --mainBG: #faf4e1;
  --secondBG: #ff823e;
  --highlight: #421152;
  --writing: rgb(50,50,50);
  --writingInverse: rgb(255, 255, 255);
  --shadow: 0 0 10px rgba(0, 0, 0, 0.172);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--mainBG);
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#mainSection{
  margin: 0 5rem;
}

.topBack {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--mainBG);
  opacity: 0.4;
  z-index: -3;
}

.top #gotoHeader {
  padding: 20px;
}

.topOthers {
  z-index: 3;
  padding: 0 20px;
}

.topOthers i {
  padding: 10px;
}

.top {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow);
  width: 100vw;
}
.top a {
  color: var(--writing);
  font-size: 20px;
}

.top img {
  height: 1em;
}

#header {
  display: flex;
  padding: 40px 20px;
  flex-wrap: wrap;
  color: var(--highlight);
}

#header > div {
  margin: 50px 10px;
}

hr {
  margin: 5px 0;
}

.title {
  color: var(--writing);
  font-size: 3rem;
}

h1 {
  font-size: 1.5em;
  word-break: break-word;
  font-weight: normal;
  color: var(--writing);
}

.aboutMe {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.myImage {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.aboutMe p {
  color: var(--white);
  background-color: var(--secondBG);
  border-radius: 5px;
  padding: 20px;
  box-shadow: var(--shadow);
}

.workExperience {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.cardContain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.someCard {
  background-color: var(--secondBG);
  color: var(--white);
  padding: 20px;
  border-radius: 5px;
  box-shadow: var(--shadow);
}
.someCard:hover {
  transition: 1s ease-in;
}

.someCard > h1 {
  margin-bottom: 10px;
}

.someCard p {
  /* font-family: "Noto Sans", sans-serif; */
  font-weight: lighter;
}

.completedProjects {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.completedProjects button {
  background-color: var(--highlight);
  color: var(--mainBG);
  border: none;
  padding: 10px;
  font-weight: bold;
  font-size: 1rem;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
}

.completedProjects button:hover {
  cursor: pointer;
}
.technologies {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

.technologies > p {
  border-radius: 5px;
  background: var(--highlight);
  color: var(--mainBG);
  padding: 10px;
  font-weight: bold;
  margin: 10px 10px 10px 0;
}

footer {
  /* font-family: "Noto Sans", sans-serif; */
  background-color: var(--secondBG);
  color: var(--white);
  padding: 20px;
  bottom: 0;
}

footer p {
  color: var(--white);
  font-weight: lighter;
}

footer h1{
  color: var(--white);
}

#themeControls {
  position: fixed;
  z-index: 8;
  height: 50px;
  width: 50px;
  right: 5%;
  bottom: 5%;
  background-color: var(--secondBG);
  padding: 10px;
  border-radius: 50%;
  box-shadow: var(--shadow);
}

#themeControls i {
  padding: 0;
  font-size: 50px;
  color: var(--white);
}

@media (max-width: 1000px) {
  #mainSection {
    margin: 0rem;
  }
}
@media (max-width: 600px) {
  .cardContain {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .aboutMe {
    display: flex;
    flex-direction: column;
  }
}
