:root {
  --darkBG: #0a192f;
  --lightBG: #112240;
  --blueLight: #81a1d8;
  --greenLight: #56dcbc;
  --white: #dfe4eb;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 10rem;
  background-color: var(--darkBG);
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

header {
  display: flex;
  padding: 40px 20px;
  flex-wrap: wrap;
  color: var(--greenLight);
}

header > div {
  margin: 10px;
}

hr {
  margin: 5px 0;
}

h1 {
  font-size: 1.5em;
  word-break: break-word;
  color: var(--blueLight);
  font-weight: normal;
}

.aboutMe {
  margin: 20px;
  display: flex;
  align-items: center;
}

.aboutMe p {
  color: var(--blueLight);
  background-color: var(--lightBG);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.socialBtn {
  height: 2rem;
  margin: 30px 10px 0 0;
}

.myImage {
  height: 20rem;
  width: 20rem;
  border-radius: 5px;
  margin: 1rem;
}

.cardContain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.someCard {
  background-color: var(--lightBG);
  color: var(--blueLight);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.172);
}

.someCard > h1 {
  margin-bottom: 10px;
}

.completedProjects {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  color: white;
  list-style: none;
}

.completedProjects button {
  background-color: var(--greenLight);
  color: var(--darkBG);
  border: none;
  padding: 10px;
  font-weight: bold;
  font-size: 1rem;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
}

.completedProjects button:hover {
  cursor: pointer;
}
.technologies {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

.technologies > p {
  border-radius: 5px;
  background-color: var(--lightBG);
  color: var(--blueLight);
  padding: 10px;
  font-weight: bold;
  margin: 10px 10px 10px 0;
}

footer {
  background-color: var(--lightBG);
  padding: 20px;
  color: white;
  bottom: 0;
}

footer p {
  color: var(--blueLight);
}

@media (max-width: 1000px) {
  body {
    margin: 0;
  }
  .aboutMe {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .cardContain {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
  }
}
