:root {
  --mainBG: rgb(37, 19, 17);
  --highlight: rgba(98, 63, 58, 0.8);
  --white: rgb(227, 204, 201);
  --writingInverse: rgb(50, 50, 50);
  --shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

#content {
  background: url(./484402.svg);
  background-size: 300px;
  height: 100vh;
  width: 100vw;
  opacity: 0.05;
  position: fixed;
  z-index: -1;
}

body {
  background-color: var(--mainBG);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.topBack {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--mainBG);
  opacity: 0.7;
  z-index: -3;
}

.top #gotoHeader {
  padding: 20px;
}

.topOthers {
  z-index: 3;
  padding: 0 20px;
}

.topOthers i {
  padding: 10px;
}

.top {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow);
  width: 100vw;
  border-bottom: 1px solid rgb(230, 185, 101) ;
}
.top a {
  color: var(--white);
  font-size: 20px;
}

.top img {
  height: 1em;
}

#header {
  display: flex;
  padding: 40px 20px;
  flex-wrap: wrap;
  color: var(--highlight);
}

#header > div {
  margin: 50px 10px;
}

hr {
  margin: 5px 0;
}

.title {
  color: var(--white);
  font-size: 3rem;
}

h1 {
  font-size: 1.5em;
  word-break: break-word;
  font-weight: normal;
  color: var(--white);
}

.top-container {
  display: flex;
  justify-content: center;
}

.aboutMe {
  padding: 20px;
  display: flex;
  align-items: center;
  color: var(--white);
  background-color: var(--highlight);
}

.aboutMe .myImage {
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.aboutMe .myImage:hover {
  transition: 1s;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

.aboutMe p {
  padding: 1rem;
  width: 50%;
}

.workExperience {
  display: grid;
  /* grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px; */
}

.cardContain {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-gap: 20px;
  padding: 20px;
}

.someCard {
  background-color: var(--highlight);
  color: var(--writing);
  padding: 20px;
  border-radius: 5px;
  box-shadow: var(--shadow);
}
.someCard:hover {
  transition: 1s ease-in;
}

.someCard > h1 {
  margin-bottom: 10px;
}

.someCard p {
  /* font-family: "Noto Sans", sans-serif; */
}

.completedProjects {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.completedProjects button {
  background-color: var(--highlight);
  color: var(--mainBG);
  border: none;
  padding: 10px;
  font-weight: bold;
  font-size: 1rem;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  text-align: start;
}

.completedProjects button:hover {
  cursor: pointer;
}
.technologies {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

.technologies > p {
  border-radius: 5px;
  background: var(--highlight);
  color: var(--mainBG);
  padding: 10px;
  font-weight: bold;
  margin: 10px 10px 10px 0;
}

footer {
  /* font-family: "Noto Sans", sans-serif; */
  background-color: var(--highlight);
  color: var(--white);
  padding: 20px;
  bottom: 0;
}

footer p {
  color: var(--white);
}

footer h1 {
  color: var(--white);
  padding: 0 0 20px 0;
}

#themeControls {
  position: fixed;
  z-index: 8;
  height: 50px;
  width: 50px;
  right: 5%;
  bottom: 5%;
  background-color: var(--highlight);
  padding: 10px;
  border-radius: 50%;
  box-shadow: var(--shadow);
}

#themeControls i {
  padding: 0;
  font-size: 50px;
  color: var(--white);
}

@media (max-width: 1000px) {
  #mainSection {
    margin: 0rem;
  }
}
@media (max-width: 600px) {
  .cardContain {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .aboutMe {
    display: flex;
    flex-direction: column;
  }

  .aboutMe .myImage {
    width: 80%;
  }

  .aboutMe p {
    padding: 1em 0;
    width: 100%;
  }
}
